.Knowledge {
  margin: 24px;
  padding: 24px;
  border-radius: 10px;
  text-align: start;
}

@media (prefers-color-scheme: light) {
  .Knowledge {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .Knowledge {
    background-color: #1f1f1f;
  }
}

.leave_blank{
  height: 8px;
}